.recipeList {
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-3);
  max-width: 1400px;
  padding-inline: 24px;
  padding-block: 80px;
  margin-inline: auto;
  @media screen and (width < 768px) {
    padding-block: 40px;
  }
}
